<form action='/tweet' method='post'>
<!--   <input type="text" placeholder='username!'/>
  <input type="password" placeholder='tweet this!'/> -->
  
  <input type="text" name='tweet' placeholder='tweet this!'/>
  <input type="submit">
</form>

